<section class="footer-about">
    <div class="container">
        <div class="footer-about__content">
            <h2 class="footer-about__title">
                People Are Talking About Fork
            </h2>
            <div class="footer-about__forks">
                <article class="footer-about__post">
                    <img src="./img/footer/about/logo/logo_smashing.svg" alt="smashing magazine"
                        class="footer-about__post-title">
                    <p class="footer-about__post-text">
                        Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet. Proin id dignissim magna.
                        Sed
                        varius urna et
                        pulvinar venenatis.
                    </p>
                </article>
                <article class="footer-about__post">
                    <img src="./img/footer/about/logo/logo_codrops.svg" alt="codrops"
                        class="footer-about__post-title">
                    <p class="footer-about__post-text">
                        Donec euismod dolor ut ultricies consequat. Vivamus urna ipsum, rhoncus molestie neque ac,
                        mollis
                        eleifend nibh.
                    </p>
                </article>
                <article class="footer-about__post">
                    <img src="./img/footer/about/logo/logo_w.svg" alt="logo w" class="footer-about__post-title">
                    <p class="footer-about__post-text">
                        In efficitur in velit et tempus. Duis nec odio dapibus, suscipit erat fringilla, imperdiet nibh.
                        Morbi tempus auctor
                        felis ac vehicula.
                    </p>
                </article>
                <article class="footer-about__post">
                    <img src="./img/footer/about/logo/logo_pixel.svg" alt="pixel buddha"
                        class="footer-about__post-title">
                    <p class="footer-about__post-text">
                        Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet. Proin id dignissim magna.
                        Sed
                        varius urna et
                        pulvinar venenatis.
                    </p>
                </article>
                <article class="footer-about__post">
                    <img src="./img/footer/about/logo/logo_cb.svg" alt="creative bloq"
                        class="footer-about__post-title">
                    <p class="footer-about__post-text">
                        Praesent ut eros tristique, malesuada lectus vel, lobortis massa. Nulla faucibus lorem id arcu
                        consequat faucibus.
                    </p>
                </article>
                <article class="footer-about__post">
                    <img src="./img/footer/about/logo/logo_TNW.svg" alt="logo tnw" class="footer-about__post-title">
                    <p class="footer-about__post-text">
                        Fusce pharetra erat id odio blandit, nec pharetra eros venenatis. Pellentesque porttitor cursus
                        massa et vestibulum.
                    </p>
                </article>
            </div>
            <div class="footer-about__info">
                <p class="footer-about__info-text">
                    Duis lobortis arcu sed arcu tincidunt feugiat. Nulla nisi mauris, facilisis vitae aliquet id,
                    imperdiet
                    quis nibh. Donec
                    eget elit eu libero tincidunt consequat nec elementum orci. Cum sociis natoque penatibus et magnis
                    dis
                    parturient
                    montes, nascetur ridiculus mus.
                </p>
            </div>
        </div>
    </div>
</section>