.page-body {
font-family : "Montserrat", sans-serif;;
width : 100%;
height : 100%;
}
.accent-color {
color : #18cfab;
}
.accent-title {
margin : 0;
}
.accent-list {
list-style : none;
}
.accent-link {
text-decoration : none;
}
.header {
background-image : url(../img/Sections_background/header_background.jpg);
background-size : cover;
opacity : 0.8;
padding-bottom: 242px;
}
.wrapper {
width : 1160px;
margin : 0 auto;
}
.header-menu-container {
background-color : rgb(94, 93, 88, 0.6);
width : 100%;
position : relative;
}
.header-menu-flexbox {
display : flex;
flex-direction : row;
align-items : center;
text-align : center;
justify-content : space-between;
position : relative;
}
.header-menu-flexbox::after {
position : absolute;
background-image : url(../img/svg/Search_icon.svg);
background-repeat : no-repeat;
}
.header-logo__h {
width : 58px;
margin-right : 6px;
height : 67px;
background-position: 0;
background-image : url(../img/svg/background_letter.svg);
background-size : cover;
background-repeat : no-repeat;
padding : 18px 14px;
position : relative;
}
.header-logo-text {
  padding-bottom: 3px;
margin-left : 64px;
font-weight : 400;
font-size : 32px;
display : flex;
align-items : center;
position : relative;
}
.header-logo-letter {
position : absolute;
left : 12px;
top : 15px;
display : table-cell;
color : #fff;
font-weight : 700;
font-size : 40px;
line-height : 31px;
}
.header-logo__ham {
font-weight : 700;
}
.header-navigation {
margin-top : 48px;
margin-bottom : 48px;
font-weight : 700;
font-size : 16px;
}
.header-list {
display : flex;
}
.header-item:not(:last-child) {
margin-right : 21px;
}
.header-link {
color : #fff;
text-transform : uppercase;
opacity : 0.6;
}
.header-link:hover {
color : #18cfab;
padding-bottom : 63px;
border-bottom : 2px solid #18cfab;
}
.search-box {
position : absolute;
right : -50px;
}
.header-title {
text-align : center;
margin-top : 251px;
color : #fff;
margin-bottom : 122px;
margin-left : auto;
margin-right : auto;
display : flex;
flex-wrap : nowrap;
flex-direction : column;
}
.first_title {
font-weight : 700;
font-size : 35px;
text-transform : uppercase;
padding-bottom : 22px;
}
.second_title {
font-weight : 700;
font-size : 78px;
text-transform : uppercase;
padding-bottom : 22px;
}
.third_title {
font-weight : 400;
font-size : 34px;
color : #d4d4d4;
}
.button-container {
text-transform : uppercase;
font-size : 15px;
line-height : 32px;
font-weight : 700;
text-align : center;
display : flex;
justify-content : center;
}
.choise-link {
color : #fff;
border : #fff solid 0;
border-radius : 5px;
min-width : 168px;
background-color : #fff;
}
.choise-link:not(:last-child) {
margin-right : 26px;
}
.choise-text__green {
background-color : #18cfab;
border : 0;
border-radius : 5px;
padding-top : 15px;
padding-bottom : 15px;
margin : 7px 0 0 0;
}
.choise-text__blue {
background-color : #00cbf6;
border : 0;
border-radius : 5px;
padding-top : 15px;
padding-bottom : 15px;
margin : 7px 0 0 0;
}
.button-container:not(:last-child) {
margin-right : 26px;
}
.main {
flex : 1 1 auto;
}
.services-icons {
display : flex;
justify-content : space-between;
margin-top : 8px;
}
.services-icons-link {
width : calc(100% / 4);
text-decoration : none;
text-align : center;
color : #fff;
font-size : 20px;
line-height : 24px;
font-weight : 700;
padding-top : 242px;
padding-bottom : 110px;
text-transform : uppercase;
background-repeat : no-repeat;
background-position : center 95px;
}
.services-icons-link_different {
background-color : #1c2a33;
color : #18cfab;
background-image : url(../img/svg/hand_icon.svg);
}
.services-icons-link_fully {
background-color : #18cfab;
background-image : url(../img/svg/diamand_icon.svg);
background-position : center 106px;
}
.services-icons-link_unlimited {
background-color : #1c2a33;
color : #18cfab;
background-image : url(../img/svg/lamp_icon.svg);
}
.services-icons-link_responsive {
background-color : #18cfab;
background-image : url(../img/svg/leptop_icon.svg);
background-position : center 106px;
}
.services-description {
margin-bottom : 93px;
position : relative;
}
.accent-title-box {
display : flex;
flex-direction : column;
align-items : center;
padding-top : 90px;
margin-bottom : 68px;
}
.accent-page-title {
font-size : 36px;
line-height : 40px;
margin-bottom : 26px;
font-weight : 400;
}
.accent-title-line {
border : none;
width : 76px;
background-color : #18cfab;
height : 1px;
margin : 0;
}
.accent-title-line-first {
margin-bottom : 3px;
}
.accent-title-line-second {
margin-left : 13px;
}
.services-description-list {
display : flex;
list-style : none;
padding-left : 0;
margin-bottom : 29px;
margin-top : 0;
width : 100%;
}
.services-description-item {
position : relative;
width : 192px;
background-color : #f8fcfe;
border : #edefef solid 2px;
padding : 18px 36px;
text-align : center;
}
.services-description-link {
text-decoration : none;
color : #717171;
font-size : 16px;
line-height : 24px;
display : inline-block;
text-transform : capitalize;
}
.services-description-link_active {
color : white;
}
.services-description-item:nth-child(2) {
padding-left : 10px;
padding-right : 10px;
}
.services-description-item:nth-child(3) {
padding-left : 10px;
padding-right : 10px;
}
.services-description-item:nth-child(5) {
padding-left : 10px;
padding-right : 10px;
}
.services-description-item:hover {
border-color : #18cfab;
}
.services-description-item_active {
background-color : #18cfab;
}
.services-description-link_active {
color : #fff;
}
.services-description-triangle {
align-items : center;
align-content : center;
position : absolute;
bottom : -13px;
left : 42%;
display : none;
border-style : solid;
border-width : 15px 13.5px 0 13.5px;
border-color : #18cfab transparent;
}
.services-description-content {
display : flex;
flex-direction : column;
flex-wrap : nowrap;
}
.services-description-content-img {
margin-right : 15px;
height : 140px;
float : left;
}
.services-description-content-text {
display : none;
font-weight : 300;
font-size : 14px;
line-height : 25px;
margin : 0;
}
.description-content-active {
display : block;
}
.purchase-now {
  padding-top: 128px;
  padding-bottom: 128px;
background-image : url(../img/Sections_background/section-2.jpg);
background-size : cover;
position : relative;
}
.purchase-now-content {
color : #fff;
text-align : center;
/* padding : 50px; */
}
.purchase-now-title {
margin-top: 0;
margin-bottom : 12px;
text-transform : uppercase;
font-size : 40px;
line-height : 40.46px;
font-weight : 700;
}
.purchase-now-title-text {
color : #fff;
font-size : 16px;
line-height : 40px;
margin-bottom : 62px;
}
.purchase-now-link {
color : #fff;
border : #fff solid 0;
border-radius : 5px;
min-width : 168px;
background-color : #fff;
}
.purchase-now-link-text {
background-color : #18cfab;
border : 0;
border-radius : 5px;
padding : 16px 12px;
margin : 7px 0 0 0;
text-align : center;
font-size : 15px;
line-height : 32px;
font-weight : 700;
text-transform : uppercase;
}
.work {
background-color : #e9edef;
}
.work-list {
display : flex;
justify-content : center;
list-style : none;
padding-left : 0;
}
.work-item {
border : #dadada solid 1px;
padding : 14px 15px;
text-decoration : none;
color : #717171;
}
.work-item_border {
  border-color : #18cfab;
}

.work-item::first-letter{
  text-transform: uppercase;
}
.work-item:focus-within {
border-color : #18cfab;
}

.work-item:first-child {
padding-left : 14px;
padding-right : 14px;
}

.work-grid-wrapper {
display : flex;
flex-wrap: wrap;
justify-content: start;
margin-top : 69px;
padding-bottom: 180px;
}
.work-grid-image {
width : 100%;
height: 100%;
}
.work-grid-post {
width: calc(100% / 4);
position : relative;
flex-wrap: wrap;
}
.work-grid-post_hide {
  visibility: hidden;
  display: none;
}

.work-grid-load_hide{
  position: fixed;
  z-index: -5;
}

.work-grid-post_hover:hover {
opacity : 1;
}
.work-grid-post_hover {
border-top : 2px solid #18cfab;
background-color : #e9edef;
display : flex;
flex-direction : column;
align-items : center;
position : absolute;
top : 0;
width : 100%;
opacity : 0;
}
.work-grid-post_button {
margin-top : 48px;
margin-bottom : 34px;
display : flex;
justify-content : center;
}
.button_copy-link-box {
width : 43px;
height : 43px;
border : #18cfab solid 1px;
border-radius : 50%;
align-items : center;
display : flex;
justify-content : center;
margin-right : 3px;
}
.button_copy-icon {
width : 14px;
height : 14px;
filter: brightness(0) saturate(100%) invert(64%) sepia(98%) saturate(1046%) hue-rotate(116deg) brightness(95%) contrast(81%);
}
.button_copy-link-box:hover {
  background-color : #18cfab;
}
.button_copy-link-box:hover .button_copy-icon {
 filter:brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7473%) hue-rotate(102deg) brightness(100%) contrast(98%);
}
.button_stop-play {
width : 43px;
height : 43px;
border: 1px solid #18cfab;
border-radius : 50%;
align-items : center;
display : flex;
justify-content : center;
}
.button_stop-play-square {
width : 12px;
height : 11px;
background-color : #18cfab;
}
.button_stop-play:hover{
  background-color: #18cfab;
}
.button_stop-play:hover .button_stop-play-square{
  background-color: #fff;
}

.work-grid-post_title {
font-size : 14px;
line-height : 25px;
font-weight : 700;
margin : 0;
display : flex;
flex-direction : column;
text-align : center;
text-transform : uppercase;
}
.work-grid-post_subtitle {
margin-bottom : 38px;
color : #8a8a8a;
font-size : 12px;
line-height : 25px;
}
.work-button {
  margin: 70px auto 0 auto;
background-color : #18cfab;
border-radius : 4px;
text-transform : uppercase;
line-height : 42px;
font-weight : 700;
padding : 13px 20px 8px 54px;
font-size : 14px;
color : #fff;
border : none;
background-image : url(../img/svg/work_plus.svg);
background-repeat : no-repeat;
background-position : 22px center;
}
.work-button_plus {
padding-right : 16px;
font-size : 30px;
}
.news {
margin-bottom : 130px;
}
.news-container {
display : grid;
grid-template-columns : repeat(4,1fr);
grid-auto-rows : 1fr;
gap : 44px 33px;
width : 100%;
}
.news-post {
position : relative;
}
.news-post-link:hover .news-post-calendar {
background-color : #18cfab;
}
.news-post-link:hover .news-post-title {
color : #18cfab;
}
.news-post-image {
width : 100%;
margin-bottom : 14px;
}
.news-post-calendar {
position : absolute;
top : 0;
right : 0;
background-color : #203e38;
}
.news-post-calendar-date {
font-size : 16px;
line-height : 25px;
justify-content : center;
align-items : center;
color : #fff;
display : flex;
flex-direction : column;
margin : 0;
margin : 7px 18px;
}
.news-post-title {
font-size : 18px;
margin : 0;
padding-left : 23px;
color : #717171;
}
.news-post-description {
display : flex;
padding-left : 18px;
font-size : 14px;
color : #777777;
margin-top : 15px;
margin-bottom : 12px;
}
.news-post-redact {
margin : 0;
border-right : 1px solid #777777;
padding-right : 17px;
margin-right : 17px;
}
.news-post-comment {
color : #777777;
}
.about {
background-image : url(../img/BG-news.jpg);
background-size : cover;
padding-bottom : 100px;
}
.about-page-title {
color : #fff;
}
.info-box_pins {
margin : 0 auto;
}
.info-box_text {
color : #bbbbbb;
margin-top : 37px;
margin-bottom : 37px;
}
.info-box-workers_name {
font-size : 16px;
line-height : 27px;
margin-top : 0;
margin-bottom : 0;
text-transform : uppercase;
display : block;
}
.info-box-workers_profession {
line-height : 27px;
font-size : 16px;
color : #bbbbbb;
}
.box-workers_face {
border-radius : 50%;
background-color : #1fdab520;
padding : 6px;
height : 60px;
margin-top : 15px;
margin-left : auto;
margin-right : auto;
}
.slick-slide.slick-active:not(.slider-big_item):hover {
transform : translate(0,-13px);
transition : 0.3s;
}
.slider-big {
text-align : center;
}
.box-workers_big-face {
border-radius : 50%;
background-color : #1fdab520;
padding : 10px;
height : 142px;
margin : 30px auto 50px auto;
}
.box-workers_button2 {
padding : 8px 10px;
border : #bbbbbb solid 1px;
text-decoration : none;
color : #bbbbbb;
}
.testBtn {

}
.box-workers_button1:hover {
background-color : #18cfab;
color : #fff;
border : none;
padding : 9px 11px;
}
.box-workers_button2:hover {
background-color : #18cfab;
color : #fff;
border : none;
padding : 9px 11px;
}
.slider {
max-width : 420px;
margin : 0 auto;
}
.slick-slider {
padding : 0 30px;
}
.slick-list {
overflow : hidden;
}
.slick-track {
display : flex;
justify-content : center;
align-items : center;
}
.slick-slide.slick-center {
transform : translate(0,-13px);
transition : 0.3s;
}
.slider .slick-arrow {
position : absolute;
margin : 15px 0 0 0;
font-size : 0;
width : 7px;
height : 12px;
padding : 10px 10px;
}
.slider .slick-arrow.slick-prev {
left : 0;
margin-left : -15px;
background-image : url(../img/section_about/svg/slick-gray.svg);
background-color : rgb(0, 0, 0, 0);
background-size : 7px 12px;
background-repeat : no-repeat;
border : #bbbbbb solid 1px;
background-position : center;
}
.slider .slick-arrow.slick-next {
right : 0;
margin-right : -15px;
background-image : url(../img/section_about/svg/slick-gray.svg);
background-color : rgb(0, 0, 0, 0);
transform : scaleX(-1);
border : 0;
background-size : 7px 12px;
background-repeat : no-repeat;
border : #bbbbbb solid 1px;
background-position : center;
}
.slider .slick-arrow:hover {
background-color : #18cfab;
border : #18cfab solid 1px;
}
.slider {
position : relative;
}
.slider .slick-arrow {
position : absolute;
top : 30%;
font-size : 0;
}
.footer {
background-color : #22353f;
display : flex;
justify-content : center;
align-items : center;
padding : 48px 0;
}
.footer-text {
color : #aeaeae;
margin : 0 auto;
}