.page-body {
  background-image: url(../img/background.png);
  background-size: cover;
  font-size: 18px;
  line-height: 18px;
  color: #fff;
}
.accent-color:hover {
  color: #f26522;
}
.wrapper {
  max-width: 1030px;
  width: 100%;
  margin: 0 auto;
}
.page-header {
  margin-top: 61px;
  margin-bottom: 17px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.title-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header-title-link {
  text-decoration: none;
  display: flex;
}
.title-wrapper:hover .header-title-img {
  content: url(../img/logo_castle_orange.svg);
}
.header-title {
  color: #fff;
  margin: 0;
  padding-left: 8px;
  font-weight: 700;
  font-size: 29px;
  line-height: 29px;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-bottom: 5px;
}
.title-wrapper:hover .header-title-hover {
  color: #f26522;
}
.title-small {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}
.page-address {
  text-align: end;
}
.address-list {
  list-style: none;
  margin: 0;
}
.address-item:first-child {
  margin-bottom: 19px;
}
.accent-link {
  text-decoration: none;
  color: #fff;
  font-style: normal;
}
.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 37px;
}
.tour-card-link {
  text-decoration: none;
  color: #fff;
}
.main-card-post {
  position: relative;
}
.tour-card-img {
}
.card-details {
  width: 100%;
  background-color: #f26522;
  position: absolute;
  top: 162px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 7px 14px 12px 16px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
}
.main-card-post:hover .card-details {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s, visibility 0.3s;
}

.card-datails-text {
  margin: 0;
  display: flex;
  flex-direction: column;
}
.card-datails-price {
  padding-top: 8px;
}
.card-datails-price::before {
  content: "€";
}
.post-details {
  align-self: flex-end;
}
.post-details::after {
  padding-left: 16px;
  content: url(../img/arrow_right.svg);
}
.post-card-title {
  margin-top: 20px;
  margin-bottom: 37px;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  font-weight: 400;
}
.post-card-title:hover {
  color: #f26522;
}
.footer {
  text-align: center;
  margin-top: 49px;
  margin-bottom: 15px;
}
/* -------------------- change theme -------------- */
.change-theme {
  border-radius: 50%;
  position: absolute;
  left: 2%;
  top: 46%;
  width: 83px;
  height: 83px;
  border: none;
  color: #fff;
  background-color: rgba(255,255,255, 0.2);
}
.btn-color {
  background: linear-gradient(-45deg, #f03800, #e73c7e, #4cd523, #23d5ab);
  background-size: 200% 200%;
  animation: gradient 9s ease infinite;
  color: aqua;
}
.body-theme {
      background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    font-family: 'Montserrat', sans-serif;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.card-details-theme {
  width: 100%;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 200% 200%;
  animation: gradient 10s ease infinite;  position: absolute;
  top: 162px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 7px 14px 12px 16px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s, visibility 0.4s;
}
.main-card-post:hover .card-details-theme {
    transition: opacity 0.9s, visibility 0.9s;
    visibility: visible;
    opacity: 1;
}
