.card{
    background-color: aquamarine;
    width: 150px;
    height: 150px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 15px;

    &__star{
        position: absolute;
        top: 0;
        right: 0;
    }
}