<div class="price">
    <div class="container">
        <div class="price-title">
            <h2 class="price-title__h2" >Fork Subscription Pricing</h2>
        </div>
        <div class="price-card">
            <div class="price-card__student">
                <div class="card-student__title">
                    <h3 class="card-student__title-white">Students</h3>
                </div>
                <div class="card-student__main">
                    <h2 class="card-price" >$29</h2>
                    <p class="card-long" >per month</p>
                    <hr class="card-line" >
                    <p class="card-person" >Personal License</p>
                     <button class="card-button" >purchase</button>
                 </div>
            </div>
            <div class="price-card__student">
                <div class="card-student__title">
                    <h3 class="card-student__title-white">professional</h3>
                </div>
                <div class="card-student__main">
                    <h2 class="card-price" >$59</h2>
                    <p class="card-long" >per month</p>
                    <hr class="card-line" >
                    <p class="card-person" >Professional License Email Support</p>
                     <button class="card-button card-button__top" >purchase</button>
                 </div>
            </div>
            <div class="price-card__agency">
                <div class="card-agency__title">
                    <h3 class="card-agency__title-white">agency</h3>
                </div>
                <div class="card-agency__main">
                    <h2 class="card-price" >$99</h2>
                    <p class="card-long" >per month</p>
                    <hr class="card-line" >
                    <p class="card-person" >1-12 Team Members Phone Support</p>
                     <button class="card-button" >purchase</button>
                 </div>
            </div>
            <div class="price-card__student">
                <div class="card-student__title">
                    <h3 class="card-student__title-white">enterprise</h3>
                </div>
                <div class="card-student__main">
                    <h2 class="card-price" >$159</h2>
                    <p class="card-long" >per month</p>
                    <hr class="card-line" >
                    <p class="card-person" >Unlimited Team Members 24/ 7 Phone Support</p>
                     <button class="card-button card-button__top" >purchase</button>
                 </div>
            </div>
        </div>
    </div>
</div>
