.page-body-container {
    padding: 63px 90px 30px 90px;
    width: 1280px;
    margin: 0 auto;
}

.header-title {
    margin: 0;
    font-size: 50px;
    padding-bottom: 38px;
}

.header-title-link {
    text-decoration: none;
    color: #000000;
}

.title-link-color {
    color: #4BCAFF;
}

.page-header {
    margin-bottom: 48px;
}

.page-header-menu {
    display: flex;
    list-style: none;
    background-color: #35444F;
    justify-content: center;
    border: #FFFFFF solid 1px;
    margin: 0;
    padding: 0;
}
.page-header-item:hover {
    background-color: #222F3A;
}

.page-header-item {
    border-right: #FFFFFF solid 1px;
    border-top: none;
    border-bottom: none;
    padding: 25px 35px 18px 35px;
    font-style: normal;
    font-size: 24px;
}
.page-header-item:first-child {
    border-left: 1px solid #FFFFFF;
}

.page-header-link {
    color: #FFFFFF;
    text-decoration: none;
}

.flex-content-container {
    display: flex;
}

.side-container-menu {
    width: 344px;
    list-style: none;
    border: #000000 solid 1px;
    margin: 0;
    padding-left: 0;
}

.side-nav-item {
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    padding: 27px 0 27px 44px;
    vertical-align:middle;

    
}
.side-nav-item:hover {
    background-color: #DBDBDB;
    text-align: center;
}

.side-nav-item:first-child {
    padding-top: 26px;
}

.side-nav-item:last-child {
    padding-bottom: 30px;
}

.side-nav-link {
    text-decoration: none;
    color: #495863;
}

.main-content {
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    margin-left: 52px;
    margin-bottom: 51px;
}
.banner {
    border: #000000 solid 1px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}
.banner-img {
    padding-top: 75px;
    padding-bottom: 75px;
    transition: transform 0.35s;
}
.banner-img:hover {
    transform: scale(1.3);
}

.main-text {
    margin: 0;
    padding-top: 35px;
}

.page-footer {
    background: rgb(99, 105, 110, 0.48);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-nav-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding-left: 40px;
    margin-top: 20px;
    margin-bottom: 21px;
}

.footer-nav-item {
    font-style: normal;
    font-size: 28px;
}
.footer-nav-link:hover {
    color: #3181A6;
    border-bottom:1px solid #3181A6;
}

.footer-nav-link {
    text-decoration: none;
    color: #0C1927;
    margin-right: 35px;
    padding-bottom: 11px;
}

.marker-title {
    font-size: 24px;
    color: #010101;
    padding-right: 40px;
}
.marker-title-text {
    margin: 0;
}

.photo {
    width: 887px;
    height: 533px;
    overflow: hidden;
}

img {
    transition: transform 0.25s;
}

.photo:hover img {
    transform: scale(1.1);
}