@import 'global';

@media(max-width:1300px){
    .container{
        padding: 0 85px;
    }
}
@media (max-width:768px) {
        .container {
            padding: 0 80px;
        }
    .header{
        padding: 41px 84px 43px;
    }
        .header-nav {
            justify-content: center;
            flex-wrap: wrap;
            &__item{
                padding: 5px 10px;
                align-items: center;
            }
            &__link{
                align-items: center;
            }
            &__item:hover{
                background-color: #E5E5E5;
            }
        }
    .page-banner{
        margin-bottom: 59px;
    }
    .main-instagram-content__item:last-child{
        display: none;
    }
}

@media (max-width:320px) {
    .container {
        padding: 0 25px;
    }
    .header-button__box {
        visibility: visible;
    }
    .header-nav{
        display: none;
        padding: 0;
        margin: 0;
        &--active {
            display: block;
            flex-direction: column;
            padding: 5px 72px 5px 12px;
            position: absolute;
            right: 25px;
            top: 60px;
            max-width: 182px;
            background-color: #f5f5f5;
            z-index: 10;
        }
        &__item {
            padding: 0;
        }
        &__link {
            padding-top: 7px;
            padding-bottom: 7px;
        }
        
    }
        .page-banner{
            margin-bottom: 42px;
        }
    .page-title{
        font-size: 14px;
        margin-bottom: 13px;
        &--footer{
            margin-bottom: 8px;
        }
    }
    .main-post{
        flex-direction: column;
        &__subtitle{
            margin-top: 15px;
            margin-bottom: 10px;
            font-size: 14px;
        }
        &__info{
            font-size: 11px;
            margin-bottom: 0;
        }
        &__text{
            display: none;
        }
    }
    .main-post:last-child{
        display: none;
    }
    .main-instagram-content__item:not(:first-child){
        display: none;
    }
    .hiden{
        display: none;
    }
    .main-instagram{
        margin-top: 42px;
        padding-bottom: 42px;
        &__subtitle{
            display: none;
        }
    }
    .footer{
        padding-top: 38px;
        padding-bottom: 47px;
        &__text{
            text-align: center;
            font-size: 12px;
        }
    }
    .footer-icons{
        margin-top: 26px;
        margin-bottom: 25px;
    }
    .footer-address{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 10px;
        font-size: 14px;
    }
}
