// @import 'global';
// Шрифт по замовчуванню =======================================================
$fontFamily: 'Roboto', sans-serif;

// $fontSize: rem(18); // в браузері за замовчування 16px

// основні кольори =======================================================
$mainColor: #4E4E4E;

// НАЛАШТУВАННЯ ================================================================
//мінімальна ширина сторінки
$minWidth: 320;
// ширина полотна (макету)
// $maxWidth: 1600;
// ширина обмежувального контейнеру(0 = немає обмеження)
$maxWidthContainer:1170;
// загальний доступ у контейнера
// (30 = по 15 зліва і зправа, 0 = немає відступу)
// $containerPadding: 30;
