.wrapper {
  margin: 0 auto;
  width: 1095px;
}

.page-body {
  background-color: #171717;
  font-size: 20px;
  color: #ffffff;
}

.accent-list {
  list-style-type: none;
}

.accent-link {
  text-decoration: none;
  color: #ffffff;
}

.accent-color {
  color: #d6af76;
}

.main-title {
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
}

.header {
  background-image: url(../img/СК_ИНФРАСТРУКТУРА_logo_2\ 2.svg);
  background-repeat: no-repeat;
  background-size: 216px 33px;
  background-position: 0;
}

.call-container {
  display: flex;
  justify-content: end;
  font-style: normal;
  align-items: center;
}

.call-nomder {
  padding-right: 39px;
}
.callback-link {
  text-decoration: none;
}
.callback-text {
  background-image: url(../img/Vector_phone.svg);
  background-repeat: no-repeat;
  background-size: 13px;
  background-position: 10% 50%;
  border: #e4b564 solid 1px;
  margin: 0;
  padding: 10px 25px 10px 49px;
  font-size: 18px;
  line-height: 30px;
}

.services {
  background-image: url(../img/header-bg.jpeg);
  background-attachment: fixed;
  background-size: cover;
}

.services-title {
  padding-top: 128px;
  padding-bottom: 41px;
  margin: 0;
}

.services-about {
  margin: 0;
  padding-bottom: 41px;
}

.services-list {
  display: grid;
  margin: 0;
  padding-left: 0;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 23px;
  padding-bottom: 60px;
}

.services-item {
  height: 351px;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.autopark-item-description {
  text-align: center;
  padding-top: 33px;
  padding-left: 39px;
}

.services-text {
  margin: 0;
}

.services-text-padding {
  padding-left: 33px;
  padding-right: 33px;
}

.services-item-one {
  grid-area: 1 / 1 / 2 / 3;
  background-image: url(../img/1section/1.jpg);
}

.services-item-two {
  grid-area: 1 / 3 / 1 / 5;
  background-image: url(../img/1section/2.jpg);
}

.services-item-three {
  grid-area: 1 / 5 / 1 / 7;
  background-image: url(../img/1section/3.jpg);
}

.services-item-four {
  grid-area: 2 / 1 / 3 / 4;
  background-image: url(../img/1section/4.jpg);
}

.services-item-five {
  grid-area: 2 / 4 / 3 / 7;
  background-image: url(../img/1section/5.jpg);
}

.autopark {
  margin-top: 60px;
  margin-bottom: 143px;
  min-height: 764px;
}

.margin-wrapper {
  margin-right: 23px;
  margin-left: 23px;
}
.wrapper-column {
  width: 33%;
}

.autopark-item {
  padding: 27px;
}

.autopark-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}
.autopark-list-colomn:nth-child(2n) {
  margin-left: 22px;
  margin-right: 22px;
}

.autopark-list-colomn {
  width: calc((100% - 44px) / 3);
}
.autopark-item:not(:last-child) {
  margin-bottom: 23px;
}

.autopark-link {
  font-size: 20px;
}
.autopark-item-one {
  background-color: #0e0e0e;
  min-height: 234px;
}

.autopark-item-two {
  background-color: #242424;
  min-height: 329px;
}

.autopark-item-three {
  background-color: #1f1f1f;
  min-height: 191px;
}

.autopark-item-four {
  background-color: #1f1f1f;
  min-height: 420px;
}

.autopark-item-five {
  background-color: #e4b564;
  min-height: 325px;
}

.autopark-item-six {
  background-color: #0e0e0e;
  min-height: 235px;
}

.autopark-item-seven {
  background-color: #0a0909;
  min-height: 207px;
}

.projects {
  background-image: url(../img/parallax-bg.jpeg);
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 179px;
}
.projects-title-container {
  display: flex;
  justify-content: space-between;
  padding-top: 129px;
  padding-bottom: 54px;
}

.projects-title {
  margin-top: 0;
  margin-bottom: 0;
}

.projects-link-border {
  color: #e4b564;
  border: #e4b564 solid 1px;
  font-size: 18px;
  line-height: 30px;
  padding: 10px 40px;
}

.projects-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin: 0;
  padding-left: 0;
  align-items: center;
  text-align: center;
}

.projects-list-item {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 293px;
}

.projects-list-logo {
  margin: 0 auto;
}

.projects-list-address {
  padding-left: 53px;
  padding-right: 53px;
  padding-top: 12px;
  margin: 0;
  font-size: 22px;
  line-height: 28px;
}

.projects-list-item-one {
  background-image: url(../img/3section/EID.jpg);
}

.projects-list-item-two {
  background-image: url(../img/3section/arsenal.jpg);
}

.projects-list-item-three {
  background-image: url(../img/3section/MAVIS.png);
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}

.projects-list-item-four {
  background-image: url(../img/3section/set_group.jpg);
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
}

.projects-list-item-five {
  background-image: url(../img/3section/arsenal_dark.jpg);
}

.projects-list-item-six {
  background-image: url(../img/3section/EID.jpg);
}

.projects-list-item .projects-list-address {
  display: none;
  visibility: hidden;
  opacity: 0;
}
.projects-list-item:hover .projects-list-address {
  visibility: visible;
  display: block;
  opacity: 1;
}
