.modal-two {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(110, 223, 219, 0.5);

  .modal-content {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(36, 153, 236);
    position: relative;
    overflow: hidden;
    border-radius: 15px;

    
    &__header{
      box-sizing: border-box;
      color: #fff;
      background-color:rgb(16, 18, 162) ;
      width: 100%;
      border-top-left-radius: inherit;
      border-top-right-radius: inherit;
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 50px;
      font-size: 22px;
    }


    &__close {
      background-color: transparent;
      border:none;
      color: #fff;
      font-size: 30px;
      cursor: pointer;
    }

    &__text {
    color: #fff;
    text-align: center;
    padding: 20px 40px;
    font-size: 18px;
    margin-bottom: 30px;
  }
  }
 
  
  
  .modalButtons {
    width: 250px;
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    color: #fff;
  }
  .modalButtons button {
    background-color: rgb(17, 15, 135);
    border: none;
    border-radius: 5px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: inherit;
    cursor: pointer;
  }

  
}
