@import 'global';
@import 'base/mixins';

@media(max-width:1300px){
    .container{
        margin: 0 80px;
    }
}
@media(max-width:1280px){
    .main-post{
        max-width: 515px;
        transition: 0.5s ease-in-out;
    }
}
@media(max-width:1150px){
    .header-nav{
        max-width: 609px;
        transition: 0.5s ease-in-out;
    }
}
@media (max-width:878px){
            .container {
                margin: 0 40px;
            }
}
@media (max-width:768px) {

        .header-nav {
            &__item:hover{
                background-color: #E5E5E5;
            }
        }
    .page-banner{
        margin-bottom: 59px;
    }
    .main-instagram-content__item:last-child{
        display: none;
    }
}

@media (max-width:722px){
        .header-button__box {
            visibility: visible;
            right: 40px;
        }
        
        .header-nav {
            height: 37px;
            display: none;
            padding: 0;
            margin: 0;
        
            &--active {
                display: block;
                flex-direction: column;
                padding: 5px 0 5px;
                position: absolute;
                right: 40px;
                top: 60px;
                width: 183px;
                height: 190px;
                background-color: #f5f5f5;
                z-index: 10;
            }

            &__item {
                padding: 0;
            }
        
            &__link {
                padding:7px 0 7px 12px;
                padding-top: 7px;
                padding-bottom: 7px;
            }
        
        }
}
@media (max-width:700px){
    .container {
        margin: 0 25px;
    }
    .header-nav--active{
        right: 25px;
    }
    .header-button__box{
        right: 25px;
    }

    .main {
        margin-top: 42px;
    }
        .main-post {
            flex-direction: column;
        
            &__subtitle {
                margin-top: 15px;
                margin-bottom: 10px;
            }
        }
    .main-post:last-child {
        display: none;
    }

    .main-instagram__subtitle {
        display: none;
    }
    .main-instagram-content{
        justify-content: center;
    }

}

@media (max-width:572px){
        .main-instagram-content__item:nth-child(n+2) {
            display: none;
        }
}

@media (max-width:320px) {

        .page-banner{
            margin-bottom: 42px;
        }
    .page-title{
        font-size: 14px;
        margin-bottom: 13px;
        &--footer{
            margin-bottom: 8px;
        }
    }
    .main-post{
        flex-direction: column;
        &__subtitle{
            margin-top: 15px;
            margin-bottom: 10px;
            font-size: 14px;
        }
        &__info{
            font-size: 11px;
            margin-bottom: 0;
        }
        &__text{
            display: none;
        }
    }
    .main-post:last-child{
        display: none;
    }

    .hiden{
        display: none;
    }
    .main-instagram{
        margin-top: 42px;
        padding-bottom: 42px;
    }
    .footer{
        padding-top: 38px;
        padding-bottom: 47px;
        &__text{
            text-align: center;
            font-size: 12px;
        }
    }
    .footer-icons{
        margin-top: 26px;
        margin-bottom: 25px;
    }
    .footer-address{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 10px;
        font-size: 14px;
    }
}