.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__info-bar {
    color: #fff;
    background-color: #010500;
    width: inherit;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
  }

//   &__logain{

//   }

  &__right-bar {
    display: flex;
    justify-content: space-between;
    width: 15%;
  }


  &__nav-bar{
    background-color: #585858;
    width: inherit;
    padding: 15px 140px;
    display: flex;
    justify-content: space-between;
  }

  &__nav{
    width: 55%;
    display: flex;
    justify-content: space-between;
  }

  &__nav a{
    text-decoration: none;
    color: #fff;
  }

}
