@mixin button-menu {
    .header-button__box {
        visibility: hidden;
        cursor: pointer;
        background-color: #000;
        width: 44px;
        height: 37px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 25px;
        top: 23px;
    }

    .header-button__icon {
        display: block;
        width: 17px;
        height: 2px;
        background-color: #fff;
        position: relative;

        &--active {
            background-color: transparent;
        }
    }


    .header-button__icon::after {
        content: "";
        display: block;
        width: 17px;
        height: 2px;
        background-color: #fff;
        position: absolute;
        bottom: -4px;
        transition: 0.2s ease-in-out;
    }

    .header-button__icon::before {
        content: "";
        display: block;
        width: 17px;
        height: 2px;
        background-color: #fff;
        position: absolute;
        top: -4px;
        transition: 0.2s ease-in-out;
    }

    .header-button__icon--active::after {
        transition: 0.2s ease-in-out;
        bottom: 0;
        transform: rotate(0.12turn);
    }

    .header-button__icon--active::before {
        transition: 0.2s ease-in-out;
        top: 0;
        transform: rotate(-0.12turn);
    }

}