@import 'base/mixins';

.header{
	z-index: 1;
	padding: 41px 84px 51px;
	align-items: center;
	position: relative;
}

.header-nav {
	display: flex;
	justify-content: space-between;
	padding: 0 179px;
	align-items: center;

}

.header-nav__link {
	width: 100%;
	display: block;
	text-transform: uppercase;
	font-size: 11px;
}
.header-nav__link:hover{
	color: #57A4A4;
}
@include button-menu;

.page-banner{
	margin-bottom: 68px;

	&__image {
		width: 100%;
		display: block;
	}
}
