@import 'global';

.main{
    margin-top: 69px;
}
.main-content {
    display: flex;
    flex-wrap: wrap;
    row-gap: 32px;
    column-gap: 55px;
}
.main-post {
    display: flex;
    column-gap: 21px;
    max-width: 555px;

    &__subtitle{
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        margin-bottom: 11px;
    }
    &__info {
        font-size: 12px;
        margin-bottom: 19px;
        color: #7C7C7C;
    }
    &__info--journal {
    padding-right: 8px;
}
    &__info--comments {
        padding-left: 8px;
    }
    &__text {
        font-style: normal;
        font-size: 14px;
    }
}

.main-instagram{
    display: flex;
    flex-direction: column;
    background-color: #F7F7F7;
    padding-top: 43px;
    padding-bottom: 49px;
    margin-top: 69px;
    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__subtitle {
        font-weight: 700;
        font-size: 13px;
        margin-bottom: 25px;
        text-transform: uppercase;
        padding-right: 8px;
        position: relative;
        text-align: right;
    }
    &__img {
        width: 100%;
    }
}

.main-instagram_title::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 4px;
    height: 2px;
    background-color: #4E4E4E;
}
.main-instagram-content{
    display: flex;
    column-gap: 10px;
}

