.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  flex-direction: column;
}
.button {
 font-size: 24px;
}
.info{
  text-align: center;
  width: 400px;
  margin-top: 20px;
  border: 2px solid #000;
}
.info p{
  position: relative;
}
.info p::after {
 content: "";
 position: absolute;
 width: 400px;
 height: 1px;
 background-color: #000;
 bottom: 0;
 left: 0;
}