.page-body {
  background-image: url(../img/background.jpg);
  background-size: cover;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  line-height: 14px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.page-header {
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 79px;
  padding-right: 79px;
}
.header-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  margin: 0;
  padding-top: 18px;
  padding-bottom: 18px;
}
.header-title:hover {
  color: #236d47;
}
.header-navigation {
  display: flex;
  align-items: center;
}
.header-icons {
  width: 120px;
  display: flex;
  margin-right: 27px;
  justify-content: space-between;
}
.header-icons-link:hover .header-title-svg {
  fill: #236d47;
}
.header-text-link {
  text-decoration: none;
  color: #fff;
}
.header-text-link:hover {
  color: #236d47;
}
.header-text {
  border-left: 1px solid rgb(255, 255, 255, 0.5);
  margin: 0;
  padding-left: 27px;
  font-size: 14px;
  line-height: 14px;
}
.form-container {
  position: absolute;
  left: 50%;
  top: 112px;
  transform: translate(-50%);
}
.form-wrapper {
  width: 444px;
  padding: 31px 60px 38px 60px;
  background-color: #fff;
  position: relative;
}
.form-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.form-header::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  left: 0;
  position: absolute;
  background-color: #3cb878;
}
.form-header-title {
  margin: 0;
  font-size: 20px;
  line-height: 20px;
  color: #434343;
}
.form-header-link {
  text-decoration: none;
  color: #3cb878;
}
.form-header-text {
  margin: 0;
}
.form-header-text:hover {
  color: #236d47;
  text-decoration: underline;
}
.servis-button {
  display: flex;
}
.blue-link {
  border-radius: 4px;
  background-color: #305db8;
  background-image: url(../img/F.svg);
  background-repeat: no-repeat;
  background-position-x: 17px;
  background-position-y: center;
  margin-right: 4px;
  text-decoration: none;
  color: #fff;
}
.blue-link:hover {
  background-color: #022263;
}
.blue-link-text {
  margin: 0;
  font-size: 16px;
  line-height: 16px;
  border-left: 1px solid rgb(10, 22, 47, 0.1);
  padding-left: 18px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin: 10px 22px 10px 50px;
}
.red-link {
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position-x: 17px;
  background-position-y: center;
  margin-right: 4px;
  text-decoration: none;
  color: #fff;
  background-color: #df4a32;
  background-image: url(../img/G+.svg);
  background-repeat: no-repeat;
  background-position: top 17px left 12px;
}
.red-link:hover {
  background-color: #ab1f09;
}
.red-link-text {
  margin: 0;
  font-size: 16px;
  line-height: 16px;
  border-left: 1px solid rgb(43, 13, 19, 0.1);
  padding-left: 30px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin: 10px 27px 10px 50px;
}
.info-user {
  display: flex;
  flex-direction: column;
  margin-top: 31px;
}
.info-user-line {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #f2f2f2;
  line-height: 0.1em;
  margin: 10px 0 20px;
  margin-top: 0;
  margin-bottom: 12px;
}
.line-text {
  color: #848484;
  background: #fff;
  padding: 0 5px;
}
.contact-form__label {
  padding-bottom: 15px;
}
.contact-form__element {
  padding-left: 19px;
  width: 100%;
  height: 44px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
}
.contact-form__element:focus {
  border: 1px solid #fff;
  filter: drop-shadow(0 3px 3px rgb(0, 0, 0, 0.21));
  outline: 0;
}

.agree {
  display: flex;
  margin-bottom: 20px;
}
.agree_label {
  padding-left: 11px;
}
.agree-link {
  text-decoration: none;
  color: #3cb878;
}
.agree-text {
  display: inline-block;
  margin: 0;
  border-bottom: 1px solid rgb(35, 109, 71, 0);
  padding-bottom: 3px;
}
.agree-text:hover {
  color: #236d47;
  border-bottom: 1px solid #236d47;
  padding-bottom: 3px;
}
.create-account {
  background-color: #3cb878cc;
  border-style: none;
  border-radius: 4px;
  color: #fff;
  padding-top: 16px;
  padding-bottom: 16px;
}
.create-account:hover {
  background-color: #01813f;
}
