.modal-one {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(218, 213, 164, 0.5);

  .modal-content {
    border-radius: 10px;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    background-color: rgb(236, 89, 36);

    &__header {
      box-sizing: border-box;
      color: #fff;
      background-color: rgb(237, 63, 0);
      width: 100%;
      border-top-left-radius: inherit;
      border-top-right-radius: inherit;
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 50px;
      font-size: 22px;
    }

    &__close {
      background-color: transparent;
      color: #fff;
      border: 0;
      font-size: 30px;
      cursor: pointer;
    }

    &__text {
      color: #fff;
      text-align: center;
      padding: 20px 40px;
      font-size: 18px;
    }
  }

  .modalButtons {
    width: 30%;
    display: flex;
    justify-content:space-between;
    padding: 15px 0;
    color: #fff;
  }
  .modalButtons button {
    background-color: rgb(169, 69, 33);
    border: none;
    border-radius: 5px;
    padding: 15px 5px;
    width: 80px;
    color: inherit;
    cursor: pointer;
  }
}
