* *::after,
*::before {
    box-sizing: border-box;
}

.page-body {
    margin: 0;
    background: rgb(0, 0, 0, 0.0001);
}
.menu {
    text-align: center;
}

.menu-navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu-navigation-link {
    display: block;
    color: #FF0000;
    padding: 25px 37px 25px 37px;
    text-decoration: none;
    text-align: center;
}

.menu-navigation-item {
    display: inline-block;
    text-transform: uppercase;
}

img.banner {
    width: 100%;
}

.main-container {
    max-width: 1145px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.main-title {
    text-align: center;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
    padding-top: 50px;
    padding-bottom: 40px;
    margin: 0 auto;
}

.main-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    color: #373737;
    padding-top: 0;
    margin: 0px auto;
}

.about {
    padding-top: 30px;
    padding-bottom: 65px;
}

.main-button {
    width: 191px;
    height: 51px;
    background: #FF0000;
    border-radius: 4px;
    text-transform: uppercase;
    color: #fff;
    padding: 0px;
    display: block;
    border: 0;
    margin: 0 auto;
}

.footer {
    text-align: right;
    margin: 80px 140px 30px 0px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: #373737;
}