.footer {
    background-color: #000;
    padding: 57px 0 56px;
    color: #B9B9B9;
    
    &__text{
        text-align: center;
    }
}

.page-title--foter {
    color:#FEFEFE;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
}
.page-title--foter::before{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 4px;
    height: 2px;
    background-color: #FEFEFE;
}
.page-title--foter::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 4px;
    height: 2px;
    background-color: #FEFEFE;
}

.footer-icons {
    margin-top: 37px;
    margin-bottom: 34px;
    display: flex;
    column-gap: 6px;
}

.footer-address__link:nth-child(-n+2)::after {
    content: "/";
    padding-left: 10px;
    padding-right: 10px;
    color: inherit;
}