@import 'base/mixins';
@import 'libs/burger-btn';


.header{
	z-index: 1;
	padding: 41px 0 51px;
	align-items: center;
	position: relative;
}

.header__active-nav{
	overflow: visible;
}
.header-nav {
	@include flex-between;
	max-width: 813px;
	margin: 0 auto;
	align-items: center;
	transition: 0.3s ease-in-out;
}

.header-nav__link {
	width: 100%;
	display: block;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 400;
}
.header-nav__link:hover{
	color: #57A4A4;
}

.page-banner{
	margin-bottom: 68px;

	&__image {
		width: 100%;
		display: block;
	}
}
